.container{
    width: 420px;
    height: 500px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 7%;
    background-color: white;
    border-radius: 1rem;

    /* align-items: ; */
}
.container > *{
    margin-bottom: 5px;
}
.container h5{
    font-size: 1.4rem;
    width: fit-content;
}
.container > h1{
    background-color: #ffc10700;
    font-size: calc(1.375rem + 1.5vw);
    width: fit-content;
    padding: 5px;
    border: 3px solid;
    border-radius: 1rem;
    margin: 0 auto;
}
.container > h1:hover{
    /* background-color: whitesmoke; */
    background-color: yellow;
}