*{
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(to right,#cc00ff,#f21515); */
        
background-color: gainsboro;
}
.heading{
    color:#ff6492 ;
    font-size: 2rem;
    font-weight: 900;
}
.Todo{
    background-color: white;
    border: 2px solid;
    padding: 1rem;
    min-width: 400px;
    min-height: 300px;
    max-width: 70%;
    margin:auto;
    border-radius: 1.5rem;
    margin-top: 8%;
}
.addButton{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}
#addBtn{
    border: none;
    border-radius: 10px;
    background-color: green;
    outline: 15px;
    padding: 4px 10px;
    color: white;
    font-size: 1.2rem;
}
#addBtn:hover{
    opacity: 0.8;
}
#addBtn:active{
    opacity: 0.5;
}
.taskColumn{
    column-width: 10rem;text-align: center;


}

.inputContainer{
    outline:none ;
    border: 0px;
}
.delete{
    
    
}
.add{
    margin-left: 5px;
}
.taskList{
    width: 100%;
    padding: 5px;
}
.taskList > *{
    
    display: flex;
    margin-bottom:10px ;
    
}
.taskList li >div{
    width: 80%;
}
.taskList li >button{
    width: 20%;
}

.taskName{
    display: flex;
    align-items: center;
    padding-left: 4px;
    border-radius: 6px;
    border-top: #00000066 2px solid;
    border-left: 1px solid #000000ad;
    border-bottom: 1px solid black;
}
.priorityBtn{
    padding: 0;
}
tr td{
    max-width: 200px;
    max-height: 100px;
    overflow-x: auto;
}
.actionBtn{
    padding: 0;
    margin-left: 5px;
}